.c {
    width: 200px;
    flex-direction: column;
    display: flex;
    background-color: white;
    padding: 5px;
    border-right: 1px solid #232323;
    border-bottom: 1px solid #656565;
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
}

.row{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.icon{
    padding: 5px;
    &.yes{
        background-color:green;
        color: rgb(107, 186, 107);
    }
    &.no {
        background-color: red;
        color: rgb(255, 204, 204);
    }
}

.label {
    padding-left: 5px;
}

