<div class="bg"><div class="bg_color">
<div class="container">
    <h1>Open History Map Data Index</h1>
    <h3>Tracking the data about our past</h3>
    <p>
        Since the beginning of our project, the most complex operation was the search for datasets. 
        Conversion, uniformation and normalization is complicated, but technology helps. The search for the 
        right dataset is, on the other hand, very complicated and requires us to think like somebody we
        often do not know. 
    </p>
    <p>This is the reason behind the OHM Data Index, switching the context to the amazing <a href="https://index.okfn.org" target="_blank">OKFN Open Data Index</a>.</p>
    <div class="buttons">
        <a mat-button mat-button-primary routerLink="/index"><i class="far fa-fw fa-2x fa-chart-bar"></i> Explore the index</a>
        <a mat-button mat-button-primary routerLink="/sources"><i class="far fa-fw fa-2x fa-comment-alt"></i>Explore the sources</a>
        <a mat-button mat-button-primary routerLink="/datasets"><i class="fas fa-fw fa-2x fa-table"></i>Explore the datasets</a>
    </div>
    <p>If you want us to add a dataset or a research to the collection use the "+" button on the top bar</p>

</div>
</div>
</div>