@if (source) {
<div class="container">
  <h1>{{source.data.title}}</h1>

  <div>
    Authors:
    @for (c of source.data.creators; track c) {
      <span><i class="fas fa-fw fa-user"></i>{{c.name}} {{c.firstName}} {{c.lastName}}</span>
    }
  </div>

  <div>Link: <a href="{{source.data.url}}" target="_blank">{{source.data.url}}</a></div>

  <h3>Tags</h3>

  @if (indices) {
  <mat-chip-set>
    @for (c of source.data.tags | keyvalue: keepOriginalOrder; track c.key) {
      <mat-chip>{{c.key}}: {{c.value|treelabel:indices.areas}}</mat-chip>
    }
  </mat-chip-set>
  }

  <hr>
  <h2>Datasets</h2>
</div>
<app-datasets [source]="key"></app-datasets>
}
