<!--<div class="page">
    <h1>Signal a Research</h1>
    With this form you can signal us a research that you think we are missing. To keep in contact, we will 
    <h2>About you</h2>
    <mat-form-field class="example-full-width">
        <mat-label>Your name</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>        
      <mat-form-field class="example-full-width">
        <mat-label>Your email address</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>
    <h2>The Research</h2>
    <mat-form-field class="example-full-width">
        <mat-label>Title of the research</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <mat-label>URL of the research (url of a paper or address where the project can be seen)</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Authors</mat-label>
            <input matInput placeholder="" value="">
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <mat-label>Period covered</mat-label>
              <input matInput placeholder="" value="">
            </mat-form-field>
            
    <mat-form-field class="example-full-width">
        <mat-label>Area covered</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>
    <h2>The Datasources</h2>
    <mat-form-field class="example-full-width">
          <mat-label>URL of the datasources</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
              <mat-label>URL of the datasources</mat-label>
              <input matInput placeholder="" value="">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                  <mat-label>URL of the datasources</mat-label>
                  <input matInput placeholder="" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                      <mat-label>URL of the datasources</mat-label>
                      <input matInput placeholder="" value="">
                    </mat-form-field>
    <button mat-button>Submit</button>
</div>

-->
<div class="page">
<P>If you want to contribute with additional researches, at the moment we are doing the insertion 
    and classification by hand. <br>So, please drop us a mail at <a href="mailto:index@openhistorymap.org">index@openhistorymap.org</a> with some info about the research you want to list and a few links to understand the context and we will add the items as soon as possible in order to fill the (many) blanks in the index.</P>

</div>
