<div class="container">
    <h1>Methodology</h1>
    <p>
        The data index considers a collection of research areas that broadly stroke an idea of the level of completeness 
        in the knowledge of a given period and timeframe. These areas are:
    </p>
    <ul>
        <li><b><i class="fas fa-fw fa-2x fa-tractor"></i> Agriculture</b> - These datasets and researches regard the area of agriculture, such as for example idetification of agricultural land use or of crops cultivated in the past in specific areas </li>
        <li><b><i class="fas fa-fw fa-2x fa-cloud"></i> Climate</b> - These datasets and researches cover the changes in climate in the past.</li>
        <li><b><i class="fas fa-fw fa-2x fa-piggy-bank"></i> Economy</b> - These datasets and researches regard the changes in economy and the possible normalizations of the past with modern economic conditions.</li>
        <li><b><i class="fas fa-fw fa-2x fa-theater-masks"></i> Entertainment</b> - These datasets and researches regard the world of entertainment, from circus to theatre to cinema</li>
        <li><b><i class="fas fa-fw fa-2x fa-industry"></i> Industry</b> - These datasets and researches cover the changes im the industrial complex of the past.</li>
        <li><b><i class="fas fa-fw fa-2x fa-horse"></i> Infrastructures - roads</b> - These datasets and researches regard the road infrastructure and its evolution.</li>
        <li><b><i class="fas fa-fw fa-2x fa-ship"></i> Infrastructures - water</b> - These datasets and researches regard the water based infrastructure and its evolution.</li>
        <li><b><i class="fas fa-fw fa-2x fa-plane"></i> Infrastructures - air</b> - These datasets and researches regard the airway infrastructure and its evolution.</li>
        <li><b><i class="fas fa-fw fa-2x fa-landmark"></i> Politics</b> - These datasets and researches regard the changes in borders</li>
        <li><b><i class="fas fa-fw fa-2x fa-praying-hands"></i> Religion</b> - These datasets and researches cover the distribution and acrivities related to religion</li>
        <li><b><i class="fas fa-fw fa-2x fa-city"></i> Urban</b> - These datasets and researches regard urban evolution over time.</li>
        <li><b><i class="fas fa-fw fa-2x fa-drafting-compass"></i> Ephemeral</b> - These datasets and researches regard movements of people, ships and anythin mobile</li>
        <li><b><i class="fas fa-fw fa-2x fa-dove"></i> War</b> - These datasets and researches regard detailed aspects of war.</li>
        <li><b><i class="fas fa-fw fa-2x fa-globe-europe"></i> Geography</b> - These datasets and researches regard the changes in nature, both totally natural and antropic</li>
    </ul>

    All of these areas have sub-topics to expand the aspects of the main topic they analyze. These sub-topics are:
    <ul>
        <li><b><i class="fas fa-fw fa-2x fa-map-marker-alt"></i>Location</b> - These researches and datasets give us the point localization of analyzed items.</li>
        <li><b><i class="fas fa-fw fa-2x fa-border-all"></i>Structure</b> - This sub-topic regards researches that resulted in the creation of open datasets of the planimetry of buildings, cities, areas.</li>
        <li><b><i class="fas fa-fw fa-2x fa-kaaba"></i>Model</b> - This sub-topic regards activities that resulted in the creation of 3D models for specific buildings or items of the main topic.</li>
        <li><b><i class="fas fa-fw fa-2x fa-calendar-alt"></i>Events</b> - These datasets and researches give us timelines (as datasets or not) about the specific topic in the specific analyzed period</li>
        <li><b><i class="fas fa-fw fa-2x fa-sign-language"></i>Usage</b> - These datasets and researches give us context and modes for the fruition of the</li>
        <li><b><i class="fas fa-fw fa-2x fa-indent"></i>Indexes</b> - These datasets and researches analyze specific indicators, such as for example salary over time or salary in ancient Rome normalized or GDP normalized to the past.</li>
        <li><b><i class="fas fa-fw fa-2x fa-info-circle"></i>General</b> - These datasets and researches researches cover the main topic in general or without a specific viewpoint.</li>
    </ul>

    <p>In addition to this main categorization, we are using OHM related indicators, such as <b>Source Reliability</b> and <b>Source Precision</b>, both indicators that span from 1 to 6 being 1 the least precise or reliable, and 6 the most precise or reliable in order to be able to classify the quality of the datasets.</p>
    <p>Specifically the reliability is divided as follows</p>
    <ul>
        <li><b>6</b> - Academic peer-reviewed research / Excavation Report</li>
        <li><b>5</b> - In-period source material</li>
        <li><b>4</b> - Review papers </li>
        <li><b>3</b> - Non peer-reviewed research</li>
        <li><b>2</b> - Local public history activities</li>
        <li><b>1</b> - Hearsay</li>
    </ul>
    <p>Similarly the source quality is divided into 6 categories</p>
    <ul>
        <li><b>6</b> - Precise dataset with well defined methodologies and tools</li>
        <li><b>5</b> - ...</li>
        <li><b>4</b> - ...</li>
        <li><b>3</b> - ...</li>
        <li><b>2</b> - ...</li>
        <li><b>1</b> - Low quality dataset, with visible discrepancies and/or errors</li>
    </ul>
    
    <hr>
    <p>If you want us to add a dataset or a research to the collection, please send us a mail to <a href="mailto:index@openhistorymap.org">index@openhistorymap.org</a>.</p>
</div>

