<mat-toolbar color="primary" class="bar">
  <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span><a class="title" routerLink="/">OHM Data Index</a></span>
  <span class="spacer"></span>
  <button mat-button aria-label="Example icon-button with share icon" routerLink="/index">
    Index
  </button>
  <button mat-button aria-label="Example icon-button with share icon" routerLink="/sources">
    Sources
  </button>
  <button mat-button aria-label="Example icon-button with share icon" routerLink="/datasets">
    Datasets
  </button>
  <button mat-button aria-label="Example icon-button with share icon" routerLink="/methodology">
    Methodology
  </button>
  
  <button mat-icon-button aria-label="Example icon-button with share icon" routerLink="/add"> 
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<div class="content">
<router-outlet></router-outlet>
</div>
<div class="footer">Made with ❤ in Bologna by Open History Map </div>