.content{
    
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-top: 20px;
}

td{
    text-align: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #dedede;
}

.years{
    width: 100px;
}

.cols {
    width:70px;
}

a{
    color:black;
}


.actions{
    display: flex;
    flex-direction: row;
}
.spacer{
    flex: 1 1 10px;
}